
* {
    box-sizing: border-box;
    margin: 0;
}


:root {

--white: hsl(0, 0%, 100%);
--light_gray: hsl(212, 45%, 89%);
--grayish_blue: hsl(220, 15%, 55%);
--dark_blue: hsl(218, 44%, 22%);

}

body {
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--grayish_blue);
    font-family: 'Outfit', sans-serif;

}

.white_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px ;
    height: 480px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 8px 46px 13px rgba(66, 68, 90, 0.34);
}

img {
    margin: 20px;
    width: 260px;
    height: 260px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    color: var(--dark_blue);
    letter-spacing: 1px;
}

p {
    text-align: center;
    margin: 10px 20px;
    font-weight: 400px;
    font-size: 15px;
    color: var(--grayish_blue)
}
